* {
    margin: 0 auto;
    padding: 0rem;
    box-sizing: border-box;
}
.container {
    max-width: 850px;
}
h2{
    margin: 1rem auto;
}
p {
    padding: .5rem 0;
}
/*allineamento marker a container*/
ol {
    margin-left: 1rem;
}
ol.list-num-index {
    list-style: decimal;
}
ol.list-str-index {
    list-style: lower-alpha;
}