* {
    margin: 0 auto;
    padding: 0rem;
    box-sizing: border-box;
}
.container {
    max-width: 850px;
}
h2{
    margin: 1rem auto;
}
h3 {
    font-size: 1rem;
    /* font-weight: 500; */
}
a,
a:active,
a:visited{
    text-decoration: none;
    color: blue;
}
p {
    padding: .5rem 0;
}
/*allineamento marker a container*/
ol {
    margin-left: 1rem;
}
ol.list-num-index {
    list-style: decimal;
}
ol.list-str-index {
    list-style: lower-alpha;
}